<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/Theme.VRExpo"
        tools:targetApi="31">

<!--Start Screen-->
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login" />
        <activity
            android:name=".CreateAccount" />
        <activity
            android:name=".MainActivity" />

<!--Patient-->
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".PatientHistory"
            android:exported="false" />
        <activity
            android:name=".PostsessionQuestions"
            android:exported="false" />
        <activity
            android:name=".PresessionQuestions"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".PatientRecords" />
        <activity
            android:name=".TherapySchedulerActivity"
            android:exported="true" />
        <activity
            android:name=".FindTherapist" />
        <activity
            android:name=".AccountInfo" />
        <activity
            android:name=".PatientInfo" />

<!--Therapist-->
        <activity
            android:name=".TherapistAccountSettings"
            android:exported="false" />
        <activity
            android:name=".Messages"
            android:exported="false" />
        <activity
            android:name=".TimeAvailability"
            android:exported="false" />
        <activity
            android:name=".WriteReport"
            android:exported="false" />
        <activity
            android:name=".ViewAppointments"
            android:exported="false" />
        <activity
            android:name=".TherapistDashboard"
            android:exported="false" />
        <activity
            android:name=".ViewPatients"
            android:exported="false" />

<!--Other-->
        <activity
            android:name=".Session" />

    </application>

</manifest>